@font-face {
    font-family: 'Rubik';
    font-weight: 400; 
    src: url('../../assets/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 600;
    src: url('../../assets/Rubik-SemiBold.ttf') format('truetype');
}

$main_text_color: #fff;
$sub_text_color: #2B2B2B;

@mixin btn_text_style($font_size, $font_color){
color: $font_color;
font-size: $font_size;    
font-family: Rubik;
}

.custom_btn{    
    border: none;    
    cursor: pointer;  
    border-radius: clamp(12px, 1vw + 6px, 20px);
    @include btn_text_style(clamp(12px, 1vw + 4px, 18px), $main_text_color);

&.red{
    background-color: #F53838;
}

&.transparent{
    background-color: transparent;
}

&.semi_bold{
    font-weight: 600;
}

&.regular{
    font-weight:400;
}

&.header_txt_btn{
    max-width: clamp(124px, 13vw + 6px, 193px); 
    min-height: clamp(35px, 4vw + 7px, 54px);
}

&.header_btn{
    min-width: clamp(70px, 7vw + 1px, 101px);
    min-height:  clamp(24px, 2vw + 8px, 36px);
    @include btn_text_style(clamp(12px, 1vw + 2px, 16px), $sub_text_color);
    
    &:hover{
    border: 2px solid #F53838;
    color: #F53838;
}
}
}


