@use "../../style/index.scss" as *;

$btn_text_color: #fff;
$btn_bg_color: #f53838;

.custom_btn {
  border: none;
  cursor: pointer;
  border-radius: clamp(12px, 1vw + 6px, 20px);
  @include text_style(clamp(12px, 1vw + 4px, 18px),600, $btn_text_color);

  &.red {
    background-color: $btn_bg_color;
    &:hover {
      background-color: $hover_color;
    }
  }

  &.transparent {
    background-color: transparent;
  }

  &.semi_bold {
    font-weight: 600;
  }

  &.regular {
    font-weight: 400;
  }

  &.header_txt_btn {
    max-width: clamp(124px, 13vw + 6px, 193px);
    min-height: clamp(35px, 4vw + 7px, 54px);
  }

  &.header_btn {
    min-width: clamp(70px, 7vw + 1px, 101px);
    min-height: clamp(24px, 2vw + 8px, 36px);
    @include text_style(clamp(12px, 1vw + 2px, 16px),400, $text_color);

    &:hover {
      border: 2px solid $btn_bg_color;
      color: $btn_bg_color;
    }
  }

  &.card_btn {
    min-width: clamp(95px, 12vw, 173px);
    min-height: clamp(25px, 3vw + 2px, 45px);
  }

  &.subscribe_btn {
    min-width: 244px;
    min-height: 57px;
    font-size: 18px;
  }
}
