// @font-face {
//   font-family: "Rubik";
//   font-weight: 400;
//   src: url("../../assets/Rubik-Regular.ttf") format("truetype");
// }

// @font-face {
//   font-family: "Rubik";
//   font-weight: 600;
//   src: url("../../assets/Rubik-SemiBold.ttf") format("truetype");
// }

// $main_text_color: #2b2b2b;
// $sub_text_color: #5a5a5a;

// @mixin text_style($font_size, $font_color, $font_weigth) {
//   color: $font_color;
//   font-size: $font_size;
//   font-family: Rubik;
// }

.cards {
  overflow: auto;
  width: 100%;
  display: flex;
  gap: clamp(16px, 2vw, 29px);
  justify-content: space-around;

}

::-webkit-scrollbar { display: none; }



