@use "../../style/index.scss" as *;

.item {
  display: flex;
  gap: clamp(8px, 1vw, 14px);

  p {
    @include text_style(clamp(10px, 1vw + 2px, 16px), 400, $text_color);
    &.semi_bold {
      font-weight: 600;
    }
  }

  &.hidden {
    display: none;
  }
}

.item_img {
  max-width: clamp(15px, 2vw - 4px, 24px);
  max-height: clamp(15px, 2vw - 4px, 24px);

  img {
    width: 100%;
    height: 100%;
  }
}
