@use "../../style/index.scss" as *;

.sub_block {
  min-width: clamp(348px, 75vw + 9px, 1066px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe_text {
    display: flex;
    flex-direction: column;
    gap:16px;
    max-width:251px;

    text-align: center;
  h3 {
    @include text_style(25px,600, $text_color);
  }
  p {
    @include text_style(16px, $third_text_color, 400);
  }
}

@media (max-width: 750px) {
  .sub_block {
    flex-direction: column;
    gap: 64px;
  }
}