@use "../../style/index.scss" as *;

.hidden {
  display: none;
}

.visible{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.faq_block {
  a {
    text-decoration: none;
    @include text_style(clamp(12px, 1vw + 2px, 15px), 400, $sub_text_color);
    &:hover{
        color: $text_color;
    }
  }
  span {
    @include text_style(clamp(13.6px, 1vw + 2px, 16px), 600, $text_color);
  }

  display: flex;
  flex-direction: column;
  gap: 18px;
}
