.map_img{
max-width: clamp(311px, 73vw + 9px,1060px);
max-height: clamp(158px, 37vw + 6px,539px);

img{
    width: 100%;
    height: 100%;
}
}

.companies_img{
    width:100%;
 
    img{
        width: 100%;
        height: 100%;
    }
 }