@use "../../style/index.scss" as *;

.features_img {
  max-width: clamp(275px, 35vw + 5px, 510px);
  img {
    width: 100%;
    height: 100%;
  }
}

.features_text {
  display: flex;
  flex-direction: column;
  gap: clamp(10.5px, 1vw + 2px, 16px);
  max-width: clamp(264px, 28vw + 5px, 408px);

  h2 {
    @include text_style(clamp(19.5px, 2vw + 2px, 30px), 600, $text_color);
  }
  p {
    @include text_style(clamp(10.5px, 1vw + 2px, 16px), 400, $third_text_color);
  }
}

@media (max-width: 750px) {
  .features_img {
    max-width: clamp(275px, 52vw + 1px, 580px);
  }
  .features_text {
    max-width: clamp(264px, 62vw + 7px, 900px);
  }
}
