@use "../../style/index.scss" as *;

.header_section_text{
    text-align: center;
    max-width: clamp(258px, 39vw - 2px, 559px);
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 1vw + 2px, 16px);
    h2 {
      @include text_style(clamp(18px, 2vw + 1px, 30px), 600, $text_color);
    }
    p {
      @include text_style(clamp(10px, 1vw + 2px, 16px), 400, $third_text_color);
      margin-bottom: clamp(15px, 2vw + 10px, 39px);
    }
}

