@use "../../style/index.scss" as *;

.vpn_info {
  display: flex;
  gap: clamp(13px, 1vw + 9px, 23px);
}

.vpn_img {
  max-width: clamp(21px, 2vw + 9px, 37px);
  max-height: clamp(21px, 2vw + 9px, 37px);
  img {
    width: 100%;
    height: 100%;
  }
}

.vpn_info_text {
  display: flex;
  flex-direction: column;
  gap: 2.25px;

  &.regular {
    @include text_style(
      clamp(8.5px, 1vw + 1px, 15px),
      400,
      $sub_text_color
    );
  }

  &.semi_bold {
    @include text_style(
      clamp(11px, 1vw + 6px, 20px),
      600,
      $text_color
    );
  }
}
